.widgets {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 8px;

    &[data-hide='true'] :nth-child(n + 6) {
        display: none;
    }

    @media screen and (max-width: 1450px) {
        &[data-hide='true'] :nth-child(n + 5) {
            display: none;
        }
    }

    @media screen and (max-width: 1160px) {
        &[data-hide='true'] :nth-child(n + 4) {
            display: none;
        }
    }

    @media screen and (max-width: 880px) {
        &[data-hide='true'] :nth-child(n + 3) {
            display: none;
        }
    }

    :global {
        .widget {
            color: #b5b5b5;
            background: #252b2d;
            padding: 2px 4px;
            border-radius: 5px;
            width: 200px;
            max-width: 280px;
            flex-grow: 1;

            h1 {
                margin: 0;
                padding-top: 3px;
                padding-bottom: 5px;
                font-size: 11pt;
                font-weight: normal;
                color: #fff;
                text-align: center;

                span {
                    vertical-align: middle;
                    padding-left: 5px;
                    font-size: 9pt;
                    color: #b5b5b5;
                }
            }

            .widget-values {
                display: flex;
            }

            .widget-value {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                text-align: center;

                div:nth-child(1) {
                    font-size: 13pt;
                }

                div:nth-child(2) {
                    font-size: 9pt;
                    color: #b5b5b5;
                }
            }

            .widget-single-value {
                display: flex;
                justify-content: center;
                font-size: 13pt;

                span:nth-child(2) {
                    color: #b5b5b5;
                    padding: 0 4px;
                    font-size: 11pt;
                }

                span:nth-child(1) {
                    text-align: right;
                }

                span:nth-child(3) {
                    text-align: left;
                }

                span:nth-child(2n-1) {
                    flex-grow: 100;
                    flex-basis: 0;
                }
            }
        }
    }
}
