.widgets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 6px;
    margin-bottom: 8px;

    &[data-hide='true'] :nth-child(n + 6) {
        display: none;
    }

    @media screen and (max-width: 1450px) {
        &[data-hide='true'] :nth-child(n + 5) {
            display: none;
        }
    }

    @media screen and (max-width: 1160px) {
        &[data-hide='true'] :nth-child(n + 4) {
            display: none;
        }
    }

    @media screen and (max-width: 880px) {
        &[data-hide='true'] :nth-child(n + 3) {
            display: none;
        }
    }

    :global {
            .widget {
            color: #b5b5b5;
            background: #252b2d;
            padding: 8px 10px;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;

                h1 {
                margin: 0 0 6px 0;
                font-size: 12px;
                font-weight: normal;
                color: #fff;
                text-align: center;

                span {
                    vertical-align: middle;
                    padding-left: 5px;
                    font-size: 9pt;
                    color: #b5b5b5;
                }
            }

            .widget-values {
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: center;
            }

            .widget-value {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                text-align: center;
                div:nth-child(1) {
                    font-size: 13px;
                    line-height: 1.2;
                    margin-bottom: 3px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                div:nth-child(2) {
                    font-size: 11px;
                    color: #b5b5b5;
                    line-height: 1.2;
                    opacity: 0.95;
                    white-space: nowrap;
                }
            }

            .widget-single-value {
                display: flex;
                justify-content: center;
                gap: 6px;
                font-size: 12px;
                align-items: center;
                white-space: nowrap;

                span:nth-child(2) {
                    color: #b5b5b5;
                    padding: 0 4px;
                    font-size: 11pt;
                }

                span:nth-child(1) {
                    text-align: right;
                }

                span:nth-child(3) {
                    text-align: left;
                }

                span:nth-child(2n-1) {
                    flex-grow: 100;
                    flex-basis: 0;
                }
            }
        }
    }
}
